p,
span,
label,
button,
small,
input,
button,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
pre,
a {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  color: #5d4841;
}


.font-regular {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-semibold {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

.font-bold {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
}
